.search-wrapper {
  margin-bottom: 32px;
}

input {
  width: 100%;
  border: 1px solid var(--primary-red);
  border-radius: 8px;
  padding: 8px;
  transition: 200ms;
}

input:focus {
  border: 1px solid var(--primary-blue);
  outline: none;
}
